html,body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Nunito', sans-serif;
    background-color: #F22973;
    scroll-behavior: smooth;
    scroll-padding: -5rem;
}

.section1{
    /* position: absolute; */
    display: flex;
    /* top: auto; */
    height: 33rem;
    width: 100%;
    /* background-color: #F2EAE9; */
    background-image: url(/images/background3.png);
    color: #F3F3F3;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 2rem;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-weight: 1000;
    font-size: 5rem;
}

.section2{
    height: 30rem;
    background-color: #F22973;
    color: #F3F3F3;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 2rem;
}

.section2 p{
    font-size: 1rem;
    margin: 10%;
}

.section2 h1{
    font-size: 4rem;
    margin: 10%;
}

.section3{
    height: 35rem;
    /* display: flex;
    align-items: center;
    justify-content: space-evenly; */
    text-align: center;
    background-image: url(/images/background4.png);

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section3 h1{
    position: relative;
    top: 2.5rem;
    color: #F3F3F3;
}

.section4{
    height: 70rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background-color: #F22973;
    color: #F3F3F3;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section5{
    height: 70rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background-color: #F3F3F3;
    color: #F22973;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.section6{
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background-color: #F3F3F3;
    color: #F22973;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.section4 a{
    color: #F3F3F3;
}

.section6 a{
    color: #F22973;
}

.section5 a{
    color: #F22973;
}

/* #artists{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    padding: .5rem;
    transition: transform .2s;
    margin: 0 auto;
    object-fit: cover;
}

.artist-list1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.artist-list1 a{
    text-decoration: none;
    color: #F3F3F3;
} */

/* .artist-names{
    width: 16rem;
} */

.artist-tracks{
    display: flex;
    align-items: center;
    justify-content: center;
}

.tracks{
    width: 18rem;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tracks img{
    width: 12rem;
    height: 12rem;
}

.tracks a{
    text-decoration: none;
}